// --------------------------------------------------
//  component: cta
// --------------------------------------------------
@media all {

  .c-cta {
    $c: &;

    background: transparent;
    padding: ($base-em * 2) 0;
    position: relative;
    @include zIndex(4);
    //padding-bottom: 1rem;

    #{$c}__title {
      margin: 0 auto;
    }
    #{$c}__headline {
      //font-size: $large;
    }

    &--centered {
      text-align: center;

      #{$c}__title {
        text-align: center;
      }
      #{$c}__headline {}
      #{$c}__byline {}
      #{$c}__section {
        margin: 0 auto 2rem;
        position: relative;
        z-index: $zIndex-6;

        &--lead {
          //padding-top: 4rem;
        }
      }
    }
    &--challenge {

      #{$c}__section {
        margin-bottom: $base-em;

        &--lead {
          margin-bottom: $base-em;
        }
      }
      #{$c}__title {
        margin-bottom: $base-em;
      }
    }
  }
}
@media (min-width: $viewport-mobile) {

  .c-cta {
    $c: &;

    #{$c}__title {}
  }  
}
@media (min-width: $viewport-tablet) {

  .c-cta {
    $c: &;

    padding: ($base-em * 4) 0;

    #{$c}__title {
      //max-width: colWidth(8);
    }
    #{$c}__headline {}
    #{$c}__byline {
      display: inline-block;
      font-size: $medium;
    }

    &--centered {

      #{$c}__title {}
      #{$c}__headline {}
      #{$c}__byline {}
      #{$c}__section {

        &--lead {
          //margin-bottom: 4rem;
        }
      }
    }
    &--challenge {
      margin-top: -($base-em * 2);
      padding-top: 0;

      #{$c}__section {
        margin-bottom: ($base-em * 2);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: $viewport-desktop) {

  .c-cta {
    $c: &;

    padding: ($base-em * 4) 0;

    #{$c}__title {}

    &--centered {

      #{$c}__title {
        max-width: colWidth(10);
      }
      #{$c}__headline {}
      #{$c}__byline {
        display: inline-block;
      }
      #{$c}__section {}
    }
    &--challenge {
      margin-top: -($base-em * 2);
      padding-top: 0;

      #{$c}__section {
        margin-bottom: ($base-em * 2);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: $viewport-desktop-lg) {

  .c-cta {
    $c: &;

    #{$c}__title {}

    &--centered {

      #{$c}__title {
        max-width: colWidth(8);
      }
      #{$c}__headline {}
      #{$c}__byline {}
      #{$c}__section {}
    }
  }  
}
