.c-masthead {
  $c: &;

  @media all {
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
    z-index: $zIndex-3;
    background-color: $brandSecond;
    color: $white;

    #{$c}__overlay {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      max-width: 100%;
      position: relative;
      z-index: $zIndex-4;

      @include clearFix;
    }
    #{$c}__title {
      position: relative;
      margin: 2rem auto 2rem;

      &--centered {
        text-align: center;
      }
    }
    #{$c}__headline {

      em {
        color: $brand-hover;
      }
    }
    #{$c}__byline {
      margin-bottom: 2rem;

      em {
        color: $brand-hover;
      }
      a {
        border-bottom: 1px solid $white;
      }
    }
  }
  @media (min-width: $viewport-mobile) {}
  @media (min-width: $viewport-tablet) {
    #{$c}__overlay {
      //width: colWidth(10);
    }
    #{$c}__title {
      margin: 4rem auto 6rem;
    }
    #{$c}__headline {}
    #{$c}__byline {
      margin-bottom: 2.5rem;
      width: colWidth(8);
      //font-size: $medium;
      //line-height: 1.8em;
      //max-width: colWidth(8);
    }
  }
  @media (min-width: $viewport-desktop) {
    #{$c}__overlay {
      //width: colWidth(10);
    }
    #{$c}__title {}
    #{$c}__headline {}
    #{$c}__byline {}
  }
  @media (min-width: $viewport-desktop-lg) {
    #{$c}__overlay {
      //width: colWidth(12);
    }
    #{$c}__title {
    }
    #{$c}__headline {}
    #{$c}__byline {

    }
  }
}