// --------------------------------------------------
//  component: pageHeader
// --------------------------------------------------
@media all {

  .c-pageFooter { 
    $c: &;

    width: 100%;
    position: relative;
    z-index: $zIndex-6;
    box-sizing: border-box;
    background-color: $dark;
    color: $white;
    padding: 2rem 0;
    margin: 0 auto;

    @include antialias;

    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }
    #{$c}__navigation {}
    #{$c}__breadcrumbs {
    	float: left;
    	display: inline-block;
    }

    &--white {
      color: $black;
    }
  }
}
@media (min-width: $viewport-mobile) {}
@media (min-width: $viewport-tablet) {}
@media (min-width: $viewport-desktop) {

  .c-pageHeader {
    $c: &;

    @include clearFix;

    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }
    #{$c}__navigation {
      width: auto;
      display: block;
    }
  }
}
@media (min-width: $viewport-desktop-lg) {}