// --------------------------------------------------
//  component: pageHeader
// --------------------------------------------------
@media all {

  .c-pageHeader { 
    $c: &;

    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
    z-index: $zIndex-8;
    //height: 5rem;
    line-height: 3rem;
    box-sizing: border-box;
    background-color: $brandSecond;
    color: $white;

    @include antialias;

    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }

    #{$c}__brand {
      color: inherit;
      font-size: $base-em;
      letter-spacing: 0.02em;
      line-height: inherit;
      display: inline-block;
      position: relative;
      text-decoration: none;
      float: left;
      font-weight: 500;
    }
    #{$c}__navigation {}
    #{$c}__breadcrumbs {
    	float: left;
    	display: inline-block;
    }

    &--white {
      color: $black;
    }
  }
}
@media (min-width: $viewport-mobile) {}
@media (min-width: $viewport-tablet) {

  .c-pageHeader {
    $c: &;

    height: 5rem;
    line-height: 5rem;
    @include clearFix;
    
    #{$c}__brand {
      font-size: $medium;
    }
    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }
    #{$c}__navigation {
      width: auto;
      display: block;
    }
  }
}
@media (min-width: $viewport-desktop) {

  .c-pageHeader {
    $c: &;

  }
}
@media (min-width: $viewport-desktop-lg) {}