//  component: banner
// --------------------------------------------------
.c-banner {
  $c: &;

  @media all {
    box-sizing: border-box;
    position: relative;
    display: block;
    background-color: $brand-second;
    color: $white;
    padding: 2rem 0;

    #{$c}__title {
      width: 50%;
    }
    #{$c}__inlineLink {
      border-bottom: 1px dotted $white;

      &:hover {
        border-bottom-style: solid;
      }
    }
    #{$c}__close {
      display: block;
      position: absolute;
      width: ($base-em);
      height: ($base-em);
      padding: ($base-em / 2);
      right: $base-em;
      top: $base-em;
      top: calc(50% - #{$base-em});
      background-color: transparent;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $grey;

        #{$c}__closeIcon {

          .g {
            fill: $lightGrey;
          }
        }
      }
    }
    #{$c}__closeIcon {
      display: block;

      .g {
        fill: $white;
      }
    }
    #{$c}__accept {
      display: block;
      position: absolute;
      height: ($base-em * 2);
      line-height: 100%;
      right: $base-em;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &--temp {
      background-color: $dark;
      position: sticky;
      top: 0;
      @include zIndex(8);
    }
    &--narrow {
      padding: 1rem 0;

      #{$c}__title {
        margin: 0;
      }
      #{$c}__headline {
        margin: 0 auto 0.25rem;
        font-size: $base-em;
      }
      #{$c}__byline {
        margin: 0 auto;
        font-size: $base-em;
      }
    }

    &.is-hidden {
      visibility: hidden;
      display: none;
    }
  }
  @media (min-width: $viewport-mobile) {
    padding: 4rem 0;

    &--narrow {
      padding: 1rem 0;
    }
  }
  @media (min-width: $viewport-tablet) {

    #{$c}__close {
      right: ($base-em * 2);
    }
    #{$c}__accept {
      right: ($base-em * 2);
    }
    
    &--narrow {
      padding: 1rem 0;

      #{$c}__title,
      #{$c}__headline {
        margin: 0 auto;
        width: auto;
      }      
    }
  }
  @media (min-width: $viewport-desktop) {

    #{$c}__accept {
      position: relative;
      display: block;
      max-width: 1290px;
      margin: 0 auto;
      right: auto;

      > * {
        margin: 1rem ($base-em * 2) 0;
      }
    }
  }  
  @media (min-width: $viewport-desktop-lg) {}
}