.c-masthead {
  $c: &;

  @media all {
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
    z-index: $zIndex-3;
    background-color: transparent;
    color: $black;

    #{$c}__overlay {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      max-width: 100%;
      position: relative;
      z-index: $zIndex-4;

      @include clearFix;
    }
    #{$c}__title {
      position: relative;
      margin: 2rem auto 2rem;
    }
    #{$c}__headline {

      em {
        color: $brand-hover;
      }
    }
    #{$c}__byline {
      margin-bottom: 2rem;

      em {
        color: $brand-hover;
      }
      a {
        border-bottom: 1px solid $white;
      }
    }
    &--centered {
      text-align: center;

      #{$c}__title {
        text-align: center;
      }
      #{$c}__byline {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &--pink {
      background-color: $brandPink;
      color: $brand;
    }
    &--lead {
      background-color: $brandPink;
      color: $black;
    }
  }
  @media (min-width: $viewport-mobile) {}
  @media (max-width: $viewport-tablet - 1) {
    #{$c}__buttons {
      display: block;

      &:before,
      &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }
    }
  }
  @media (min-width: $viewport-tablet) {
    #{$c}__overlay {
      //width: colWidth(10);
    }
    #{$c}__title {
      margin: 4rem auto 6rem;
    }
    #{$c}__headline {}
    #{$c}__byline {
      margin-bottom: 2.5rem;
    }
    #{$c}__buttons {
      display: inline-block;
    }
  }
  @media (min-width: $viewport-desktop) {
    #{$c}__overlay {
      //width: colWidth(10);
    }
    #{$c}__title {}
    #{$c}__headline {}
    #{$c}__byline {}

    &--centered {

      #{$c}__title {
        width: colWidth(8);
      }
      #{$c}__headline {
        //width: colWidth(8);
      }
      #{$c}__byline {
        //width: colWidth(8);
      }
    }
  }
  @media (min-width: $viewport-desktop-lg) {
    #{$c}__overlay {
      //width: colWidth(12);
    }
    #{$c}__title {
    }
    #{$c}__headline {}
    #{$c}__byline {

    }
  }
}