// --------------------------------------------------
//  component: pageHeader
// --------------------------------------------------
@media all {

  .c-pageHeader { 
    $c: &;

    width: 100%;
    position: relative;
    //position: sticky;
    top: 0;
    z-index: $zIndex-8;
    //height: 5rem;
    line-height: 5rem;
    box-sizing: border-box;
    background-color: $brandPink;
    color: $black;

    @include antialias;

    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }

    #{$c}__brand {
      color: inherit;
      font-size: $base-em;
      letter-spacing: 0.02em;
      line-height: inherit;
      display: inline-block;
      position: relative;
      text-decoration: none;
      float: left;
      background-image: url("../images/logo_mark.svg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 3rem;
      padding-left: 4rem;
      font-size: $small;
      @include fontDisplay;
    }
    #{$c}__navigation {}
    #{$c}__breadcrumbs {
    	float: left;
    	display: inline-block;
    }

    &--white {
      color: $black;
    }
  }
}
@media (min-width: $viewport-mobile) {}
@media (min-width: $viewport-tablet) {

  .c-pageHeader {
    $c: &;

    height: 5rem;
    line-height: 5rem;
    @include clearFix;
    
    #{$c}__brand {
      font-size: $base-em;
      background-size: 2rem;
      padding-left: 2.6rem;
    }
    #{$c}__left {
      float: left;
    }
    #{$c}__right {
      float: right;
    }
    #{$c}__navigation {
      width: auto;
      display: block;
    }
  }
}
@media (min-width: $viewport-desktop) {

  .c-pageHeader {
    $c: &;

    //height: 9rem;
    //line-height: 9rem;

    #{$c}__brand {
      //background-size: 7rem;
      //width: 9rem;
      //height: 9rem;
    }

  }
}
@media (min-width: $viewport-desktop-lg) {}