// --------------------------------------------------
//  compnonent: tourItem
// --------------------------------------------------
@media all {

  .c-tourItem {
    $c: &;

    #{$c}__inner {
      position: relative;
      //background-color: $lightGrey;
      z-index: $zIndex-6;
      padding: ($base-em * 3) 0;
    }
    #{$c}__title {
      //margin: 0 auto;
      position: relative;
      margin-bottom: 2rem;
      //background-color: $lightGrey;
    }
    #{$c}__headline {}

    &--grey {
      background-color: $lightGrey;
    }
    &--faq {}
    &--pink {
      background-color: $brandPink;
    }
  }
}
@media (min-width: $viewport-mobile) {}
@media (min-width: $viewport-tablet) {

  .c-tourItem {
    $c: &;

    #{$c}__inner {
      padding: ($base-em * 6) 0
    }
    #{$c}__title {
      //width: colWidth(10);
      margin-bottom: 3rem;
    }
    &--faq {

      #{$c}__inner {}
    }
  }
}
@media (min-width: $viewport-desktop) {

  .c-tourItem {
    $c: &;

    #{$c}__inner {}

    #{$c}__title {
      //width: colWidth(12);
    //  padding: 6rem 0;
    }
    &--faq {

      #{$c}__inner {}
    }
  }
}
@media (min-width: $viewport-desktop-lg) {}
