//  Colours
// --------------------------------------------------
$white: #fff;
$black: #000;
$dark: lighten($black, 6%) !default;
$line-grey: #636363 !default;
$grey: #9B9B9B;
$light-grey: lighten($grey, 35%) !default;

$brand: #FF0F28 !default;
$brand-hover: lighten($brand, 30%) !default;
$brand-second: $black;

$lightGrey: $light-grey !default;
