// Type Sizes
// --------------------------------------------------
$base-em:              1rem;    //  Base size 16px
$pico:               0.8rem;    
$small:             1.25rem;    //  20px
$medium:            1.35rem;    //  24px
$large:             2.25rem;    //  36px
$extraLarge:         3.75rem;    //  72px
$super:             6.67rem;    //  106px