<!doctype html>
<% var buildDate = new Date(process.env.BUILD_DATE) %>
<html>
  <%= require('../components/head.html')({ siteData: siteData }) %>

  <body class="o-site">
    <%= require('../components/gtm/gtmBody.html')({ siteData: siteData }) %>

    <%= require('../components/banner.html')({ siteData: siteData }) %>

    <div class="o-site__inner">

      <%= require('../components/pageHeader.html')({ siteData: siteData }) %>

      <section class="o-section--pushBottom c-masthead c-masthead--centered c-masthead--lead">
        <div class="c-masthead__overlay">
            
            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container">
                  <div class="o-title o-title--large c-masthead__title c-masthead__title--lead">
                    <div class="o-inner">
                      <h2 class="o-title__headline c-masthead__headline">Help get <span class="c-nhs">NHS</span> staff the protective equipment they need to fight COVID-19.</h2>
                      <p class="o-title__byline c-masthead__byline">#PPEForNHS is a not-for-profit campaign supplying the UK's frontline healthcare workers with Personal Protective Equipment.</p>
                      <div class="c-masthead__buttons">
                        <a class="o-button o-button--fill o-button--red o-button--inline" href="<%= siteData.externalLinks.crowdfund %>" target="_blank" data-event-id="donate" data-label="section_masthead">Donate</a>
                        <a class="o-button o-button--red o-button--inline" href="#why-this-campaign" id="read-more" data-event-id="read-more">How can I help?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </section>

      <section class="o-section o-section--pullTop">
        <div class="o-block o-block--centered">
          <div class="o-block__inner">
            <div class="o-block__container o-block__container--5 c-imageBanner__item">
              <div class="o-inner">
                <figure class="u-centered o-asset o-asset--video o-asset--shadow" id="video">
                  <a href="#" class="o-asset__overlay" data-event-id="play-video" data-label="masthead_video">Play video</a>
                  <video loop poster="<%= require('../assets/video/introduction/version-1-poster.png').default %>" class="o-asset__source">
                    <source src="<%= require('../assets/video/introduction/version-1.mp4').default %>" type="video/mp4" class="o-asset__source">
                  </video>
                  <figcaption class="o-note u-visuallyHidden">Our founders, Xinjie Ma & George Madden, describe the #PPEforNHS mission to deliver the Protective Equipment to the NHS that will help save lives.</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="c-tour">

        <section class="o-section c-tour__item c-tourItem" id="what-is-this-campaign">
          <div class="c-tourItem__inner">
            <div class="o-block o-block--trio">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--4">
                  <div class="o-inner">
                    <header class="o-title o-title--small c-tourItem__title">
                      <h4 class="o-title__headline c-tourItem__headline">Support us</h4>
                      <p class="o-title__byline">Your donation to the #PPEforNHS campaign helps frontline healthcare workers across the UK get the protection they deserve.</p>
                    </header>
                    <a class="o-button o-button--fill o-button--red o-button--inline" href="<%= siteData.externalLinks.crowdfund %>" target="_blank" data-event-id="donate" data-label="section_triage">Go to donation page</a>
                  </div>
                </div>
                <div class="o-block__container o-block__container--4">
                  <div class="o-inner">
                    <header class="o-title o-title--small c-tourItem__title">
                      <h4 class="o-title__headline c-tourItem__headline">Get PPE</h4>
                      <p class="o-title__byline">Are you a NHS or other healthcare worker or procurer looking to fill equipment shortages? Contact us here to request equipment.</p>
                    </header>
                    <a class="o-button o-button--red o-button--inline" href="https://airtable.com/shrCp4xiDOA9em4TH?prefill_Issue=I%20need%20to%20source%20PPE" target="_blank" data-event-id="get-ppe" data-label="section_triage">Request equipment</a>
                  </div>
                </div>
                <div class="o-block__container o-block__container--4">
                  <div class="o-inner">
                    <header class="o-title o-title--small c-tourItem__title">
                      <h4 class="o-title__headline c-tourItem__headline">Join us</h4>
                      <p class="o-title__byline">This project is powered by the passion, kindness and dedication of our team of volunteers. If this sounds like you, please submit your information below.</p>
                    </header>
                    <a class="o-button o-button--red o-button--inline" href="https://airtable.com/shrtCNiwmyonFzCXA" target="_blank" data-event-id="join" data-label="section_triage">Volunteer</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="o-section o-section--pushBottom c-tour__item c-tourItem c-tourItem--grey">
          <div class="c-tourItem__inner">
            
            <div class="o-block">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--8">
                  <div class="o-inner">
                    <header class="o-title o-title--large c-tourItem__title">
                      <h3 class="o-title__headline c-tourItem__headline"><span class="c-nhs">NHS</span> staff lack vital protective equipment for the fight against COVID-19.<br/>With your help, we are changing that.</h3>
                      <p class="o-title__byline u-visuallyHidden">#PPEForNHS is a not-for-profit campaign supplying the UK's frontline healthcare workers with Personal Protective Equipment.</p>
                    </header>
                  </div>
                </div>
                <div class="o-block__container o-block__container--3">
                  <div class="o-inner">
                    <img alt="Some of our closest friends treating covid-19 patients. Please help us protect them." src="<%= require('../images/k.jpg').default %>" class="o-asset u-mp-2">
                    <div class="o-sp__2"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="o-block">
              <div class="o-block__inner">
                <div class="o-block__container">
                  <ol class="c-list c-list--boxes c-list--boxesx3 c-list--white">
                    <li class="c-list__item o-inner">
                      <h4 class="c-list__itemTitle">Inadequate protective equipment is putting lives at risk</h4>
                      <p>Doctors, nurses and key healthcare workers are treating COVID-19 patients without access to the Personal Protective Equipment needed to keep them safe from infection.</p>
                    </li>
                    <li class="c-list__item o-inner">
                      <h4 class="c-list__itemTitle">We are working with reputable suppliers to get equipment to frontline workers within days</h4>
                      <p>We are actively connecting desperate frontline staff with the equipment they need to treat their patients safely.</p>
                    </li>
                    <li class="c-list__item o-inner">
                      <h4 class="c-list__itemTitle">You can help protect thousands more NHS staff</h4>
                      <p>Your donation will allow us to purchase the masks, gloves, gowns and respirators NHS staff need. Every frontline NHS worker deserves to be properly protected against COVID-19.</p>
                    </li>
                  </ol>
                  <div class="o-sp__2"></div>
                </div>
              </div>
            </div>
            
            <div class="o-sp__2"></div>

            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container u-centered">
                  <div class="o-inner">
                    <div class="o-title o-title--small">
                      <h4 class="o-title__headline">Your donation has the power to help save lives.</h4>
                      <p class="o-title__byline">Every penny raised is going directly towards getting PPE to frontline health workers.</p>
                    </div>
                    <div class="o-sp__2"></div>
                    <a class="o-button o-button--fill o-button--red" href="<%= siteData.externalLinks.crowdfund %>" target="_blank" data-event-id="donate" data-label="section_why">Go to donation page</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="o-section o-section--pullTop c-cta c-cta--challenge">
          <div class="c-cta__section c-cta__section--lead">

            <div class="o-block o-block--centered u-visuallyHiddenTablet">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--8">
                  <div class="o-inner">
                    <div class="o-title o-title--centered c-cta__title">
                      <h2 class="o-title__headline c-cta__headline">Join the DIY #PPEforNHS Challenge and help save lives! 🥽</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="o-block o-block--centered o-block--verticalCentered c-imageBanner">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--2 c-imageBanner__item">
                  <div class="o-inner">
                    <img alt="@arshib0ld with DIY plastic wrapper PPE via @PPEforNHS Instagram" src="<%= require('../images/challenge/94965793_249058596453308_5857159278614306724_n.jpg').default %>" class="o-asset o-asset--shadow">
                  </div>
                </div>
                <div class="o-block__container o-block__container--3 c-imageBanner__item">
                  <div class="o-inner">
                    <video autoplay="true" loop muted class="o-asset o-asset--shadow" poster="<%= require('../assets/video/esme-poster.png').default %>">
                      <source src="<%= require('../assets/video/esme.mp4').default %>" type="" class="o-asset__source">
                    </video>
                  </div>
                </div>
                <div class="o-block__container o-block__container--2 c-imageBanner__item">
                  <div class="o-inner">
                    <img alt="@manny.prime with PPE via @PPEforNHS Instagram" src="<%= require('../images/challenge/94709192_861930514322472_7348341589978922574_n.jpg').default %>" class="o-asset o-asset--shadow">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="c-cta__section">

            <div class="o-block o-block--centered u-visuallyHiddenMobile">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--6">
                  <div class="o-inner">
                    <div class="o-title o-title--centered c-cta__title">
                      <p class="o-title__headline c-cta__headline">Join the DIY #PPEforNHS Challenge and help save lives! 🥽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="c-cta__section">

            <div class="o-block o-block--centered u-centered">
              <div class="o-block__inner">
                <div class="o-block__container">
                  <div class="o-inner">
                    <a class="o-button o-button--fill o-button--red o-button--inline" href="/challenge" data-event-id="challenge" data-label="section_challenge">Find out more &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>

        <section class="o-section c-tour__item c-tourItem c-tourItem--grey" id="who-we-are">
          <div class="c-tourItem__inner">
            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--8">
                  <header class="o-title o-title--centered c-tourItem__title">
                    <div class="o-inner">
                      <h3 class="o-title__headline">A growing team of volunteers</h3>
                      <p class="o-title__byline">What started out as a small group helping health & social care workers find protective equipment has quickly grown into a team on a mission to end the protective equipment crisis.</p>
                    </div>
                  </header>
                </div>
                <div class="o-block__container o-block__container--12">
                  <ul class="c-list c-list--boxes c-list--boxesx2 c-list--boxesImage c-list--white">
                    <li class="c-list__item o-inner">
                      <figure class="o-asset o-asset--circle c-list__itemImage">
                        <img alt="Xinjie Ma, co-founder of rct studio" src="<%= require('../images/team/cropped/xinjie.jpg').default %>" class="o-asset__source">
                      </figure>
                      <div class="c-list__itemBody o-title o-title--small">
                        <h4 class="c-list__itemTitle o-title__headline">Xinjie Ma</h4>
                        <p class="o-title__byline">Co-founder @<a class="o-inlineLink" href="https://rct.studio?utm_medium=referral&utm_source=ppefornhs.com" target="_blank">rctstudio</a>, studied @<a class="o-inlineLink" href="https://www.arts.ac.uk/" target="_blank">ArtsLondon</a>. <a class="o-inlineLink" href="http://www.forbeschina.com/entrepreneur/44597" target="_blank">China</a> & <a class="o-inlineLink" href="https://www.forbes.com/profile/rct-studio/" target="_blank">Asia</a> @Forbes30Under30.</p>
                        <p>When a group of doctors and nurses reached out to me desperately seeking suppliers of protective equipment for their NHS trust, I knew I had to do more to help.</p>
                      </div>
                    </li>
                    <li class="c-list__item o-inner">
                      <figure class="o-asset o-asset--circle c-list__itemImage">
                        <img alt="George Madden, founder of pilot" src="<%= require('../assets/images/team/george.png').default %>" class="o-asset__source">
                      </figure>
                      <div class="c-list__itemBody o-title o-title--small">
                        <h4 class="c-list__itemTitle o-title__headline">George Madden</h4>
                        <p class="o-title__byline">Founder @<a class="o-inlineLink" href="https://pricetracker.pilot.money?utm_medium=referral&utm_source=ppefornhs.com" target="_blank">pilot</a>, studied @<a class="o-inlineLink" href="https://www.arts.ac.uk/" target="_blank">ArtsLondon</a>, served @<a class="o-inlineLink" href="https://www.army.mod.uk/who-we-are/corps-regiments-and-units/infantry/london-regiment/" target="_blank">BritishArmyReserve</a>.</p>
                        <p>My mum is a Nurse Practitioner who has dedicated a life of service to the NHS. I have friends working in ICUs across the country. The thought that they may lack the protective equipment that they need to be safe from infection is crushing. Every one of us must do everything we can to help.</p>
                      </div>
                    </li>
                  </ul>
                  <div class="o-sp__2"></div>
                </div>
              </div>
            </div>
            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container">
                  <div class="o-inner u-centered">
                    <a class="o-button o-button--red" href="/team">Meet the team</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="o-section c-tour__item c-tourItem" id="supporters">
          <div class="c-tourItem__inner">
            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--4">
                  <header class="o-title c-tourItem__title">
                    <div class="o-inner">
                      <h3 class="o-title__headline">Some of our supporters</h3>
                    </div>
                  </header>
                </div>
                <div class="o-block__container o-block__container--2">
                  <div class="o-inner">
                    <a href="https://airtable.com/" target="_blank"  class="o-asset o-asset--logo">
                      <img alt="Airtable" src="<%= require('../assets/images/sponsors/Airtable_Logo.svg').default %>" class="o-asset__source">
                    </a>
                  </div>
                </div>
                <div class="o-block__container o-block__container--2">
                  <div class="o-inner">
                    <a href="https://slack.com/" target="_blank"  class="o-asset o-asset--logo">
                      <img alt="Slack" src="<%= require('../assets/images/sponsors/Slack_Logo.svg').default %>" class="o-asset__source">
                    </a>
                  </div>
                </div>
                <div class="o-block__container o-block__container--2">
                  <div class="o-inner">
                    <a href="https://intercom.com/" target="_blank"  class="o-asset o-asset--logo">
                      <img alt="Intercom" src="<%= require('../assets/images/sponsors/Intercom_Logo.svg').default %>" class="o-asset__source">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="o-section c-tour__item c-tourItem c-tourItem--faq" id="faq">
          <div class="c-tourItem__inner">
            <div class="o-block o-block--centered">
              <div class="o-block__inner">
                <div class="o-block__container o-block__container--8">
                  <div class="c-list c-list--faq">
                    <div class="o-inner">
                      <header class="o-title c-tourItem__title c-list__title">
                        <h3 class="o-title__headline c-tourItem__headline">Frequently Asked Questions</h3>
                        <span class="o-note">Updated <%= buildDate.toLocaleString('en-US', { weekday: 'long' }) %> <%= buildDate.getDate() %> <%= buildDate.toLocaleString('en-US', { month: 'long' }) %>, <%= buildDate.getFullYear() %></span>
                      </header>
                      <ul class="c-list__items">
                        <li class="c-list__item">
                          <div class="o-title o-title--small">
                            <h4 class="o-title__headline">How can I donate?</h4>
                            <p class="o-title__byline">Click <a class="o-inlineLink" href="https://www.crowdfunder.co.uk/ppefornhsuk" target="_blank">here</a> or on any of the 'donate' buttons to visit our Crowdfunder page.</p>
                          </div>
                        </li>
                        <li class="c-list__item">
                          <div class="o-title o-title--small">
                            <h4 class="o-title__headline">Why should I donate to you?</h4>
                            <p class="o-title__byline">We have unparalleled connections to manufacturers in China - we are actively connecting individual cases with suppliers - and unlike like big charities, every penny raised will go directly towards purchasing PPE.</p>
                          </div>
                        </li>
                        <li class="c-list__item">
                          <div class="o-title o-title--small">
                            <h4 class="o-title__headline">What will you do with any leftover money?</h4>
                            <p class="o-title__byline">Every pound and every penny we raise will go directly towards purchasing the equipment needed and getting it to frontline staff. If for any reason we are unable to achieve our goals we will donate the money to charities supporting NHS staff in other ways.</p>
                          </div>
                        </li>
                        <li class="c-list__item">
                          <div class="o-title o-title--small">
                            <h4 class="o-title__headline">Are there other ways to get involved?</h4>
                            <p class="o-title__byline">Absolutely! We are looking for people to help us create content, spread the message, and ultimately raise money. Get in touch with us <a class="o-inlineLink" href="https://airtable.com/shrCp4xiDOA9em4TH" target="_blank">here</a>.</p>
                          </div>
                        </li>
                        <li class="c-list__item">
                          <div class="o-title o-title--small">
                            <h4 class="o-title__headline">What equipment can you supply?</h4>
                            <p class="o-title__byline">We have access to certified suppliers of respirator and surgical masks, gowns, gloves, coveralls, eye protection and other essential protective equipment. If you are NHS staff, please <a class="o-inlineLink" href="https://airtable.com/shrCp4xiDOA9em4TH" target="_blank">contact us for more information</a>.</p>
                          </div>
                        </li>
                        <li class="c-list__item">
                            <div class="o-title o-title--small">
                              <h4 class="o-title__headline">Can I get protective equipment from you for myself, family and friends?</h4>
                              <p class="o-title__byline">Right now the need is greatest for frontline NHS staff - too many of whom are are treating patients without adequate protection. For that reason all of the stock we order will be directed towards them, and not private individuals or households.</p>
                              <p class="o-title__byline">Please support and protect NHS staff by staying at home and following <a class="o-inlineLink" href="https://www.gov.uk/coronavirus" target="_blank" >government advice</a>.</p>
                            </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

      <section class="o-section c-cta c-cta--centered" id="cta">
        <div class="o-block o-block--centered">
          <div class="o-block__inner">
            <div class="o-block__container">
              <div class="c-cta__section c-cta__section--lead">
                <div class="o-title o-title--large c-cta__title">
                  <div class="o-inner">
                    <h2 class="o-title__headline c-cta__headline">Let's protect our nation's <span class="c-nhs">NHS</span> staff.</h2>
                  </div>
                </div>
              </div>

              <div class="c-cta__section">
                <div class="o-inner">
                  <div class="o-title o-title--small">
                      <p class="o-title__headline">Your donation has the power to help save lives.</p>
                      <p class="o-title__byline">Every frontline NHS worker deserves to be properly protected against COVID-19.</p>
                    </div>
                    <div class="o-sp__2"></div>
                    <a class="o-button o-button--fill o-button--red" href="<%= siteData.externalLinks.crowdfund %>" target="_blank" data-event-id="donate" data-label="section_cta">Go to donation page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="o-section o-section--grey">
        <div class="o-block">
          <div class="o-block__inner">
            <div class="o-block__container">
              <%= require('../components/share.html')({ siteData: siteData, modifier: 'banner', title: 'Help share the message', location: 'section_footer' }) %>
            </div>
          </div>
        </div>
      </div>

      <%= require('../components/pageFooter.html')({ siteData: siteData }) %>
    </div>
  </body>
</html>