// --------------------------------------------------
//  Object: block
// --------------------------------------------------
.o-block {
  $o: &;

  @media all {

    display: block;
    margin: auto;
    width: 100%;
    position: relative;

    #{$o}__inner {
      margin: 0 ($base-em / 2);

      &:before, &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }
    }

    #{$o}__container {
      width: 100%;
      float: left;
      //line-height: 0;
    }

    &--trio {
      text-align: center;

      #{$o}__container {
        margin-bottom: ($base-em * 4);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &--grey {

      #{$o}__container {
        background-color: $lightGrey;
      }
    }
  }
  @media (min-width: $viewport-mobile) {}
  @media (min-width: $viewport-tablet) {

    #{$o}__inner {
      margin: 0 $base-em;

      &:before,
      &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }
    }    

    #{$o}__container {
      display: inline-block;

      &--push {
        float: right;
      }
      &--pull {
        float: left;
      }
      &--1 {
        width: colWidth(1);
      }
      &--2 {
        width: colWidth(2);
      }
      &--3 {
        width: colWidth(3);
      }
      &--4 {
        width: colWidth(4);
      }
      &--5 {
        width: colWidth(5);
      }
      &--6 {
        width: colWidth(6);
      }
      &--7 {
        width: colWidth(7);
      }
      &--8 {
        width: colWidth(8);
      }
      &--9 {
        width: colWidth(9);
      }
      &--10 {
        width: colWidth(10);
      }
      &--11 {
        width: colWidth(11);
      }
      &--12 {
        width: colWidth(12);
      }
    }
    &--centered {

      #{$o}__inner {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
      }
    }
    &--verticalCentered {

      #{$o}__inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &--alignBottom {

      #{$o}__inner {
        display: flex;
        align-items: flex-end;
      }
    }
    &--alignTop {
      
      #{$o}__inner {
        display: flex;
        align-items: flex-start;
      }
    }
    &--masonry {

      #{$o}__inner {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        height: 100vw;
        max-height: 100vw;

        &:before,
        &:after {
          content: "";
          flex-basis: 100%;
          width: 0;
          order: 2;
        }
      }


      #{$o}__container {
        width: 50%;
        &:nth-child(2n+1) { order: 1; }
        &:nth-child(2n+2) { order: 2; }
        //&:nth-child(3n)   { order: 3; }
      }
    }
    &--sticky {
      position: sticky;
      top: 0;
    }
    &--justify {
      display: flex;
      justify-content: center;
    }
    &--trio {
      text-align: left;

      #{$o}__container {
        margin-bottom: 0;
      }
    }
    &--fullWidth {
      max-width: unset;
    }
    &--grey {
      display: flex;             /* primary flex container */
      flex-direction: row;       /* horizontal alignment of flex items
                                        (default value; can be omitted) */
      align-items: stretch;      /* will apply equal heights to flex items
                                        (default value; can be omitted) */
      height: 100%;

      #{$o}__container {
        background-color: $lightGrey;
        overflow: hidden;
        display: flex;             /* nested flex container */
        flex-direction: column;    /* vertical alignment of flex items */
        justify-content: center;   /* center flex items vertically */
        align-items: center;       /* center flex items horizontally */

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
  @media (min-width: $viewport-desktop) {

    max-width: 1080px;
    
    &--fullWidth {
      max-width: unset;
    }
    &--masonry {

      #{$o}__inner {
        height: 100vh;
      }
      #{$o}__container {
        width: 33.33%;

        &:nth-child(3n+1) { order: 1; }
        &:nth-child(3n+2) { order: 2; }
        &:nth-child(3n)   { order: 3; }
      }
    }    
  }
  @media (min-width: $viewport-desktop-lg) {

    max-width: 1290px;
    
    &--fullWidth {
      max-width: unset;
    }
  }
  @include mobileLandscape {
    max-width: 540px;
    
    &--fullWidth {
      max-width: unset;
    }
  }
}