// --------------------------------------------------
//  Button
// --------------------------------------------------
@media all {

  .o-button {
    $c: &;
    display: block;
    padding: 0;
    margin: 0;
    //outline: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    color: $white;
    font-size: $base-em;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.375em;
    display: block;
    padding: 0.6875em 1.275em 0.6875em;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: $white;
    letter-spacing: 0.02em;
    border-radius: 0;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    //	transition: background-color linear 20ms, border-color linear 200ms, color linear 200ms, box-shadow 200ms;

    @include enable;
    @include antialias;

    + #{$c} {
      margin-top: 0.5rem;
    }
    //&:active,
    //&:focus,
    &:hover {
    	color: $white;
    	background-color: $nhsBlue;
      border-color: $nhsBlue;
    }
    &:active:hover,
    &:active:hover:focus,
    //&:hover:focus,
    &:active:focus,
    &:active {
      background-color: $black;
      border-color: $warning;
      color: $white;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: red;
      
      &:active:hover {
        cursor: not-allowed;
        background-color: inherit;
        border-color: inherit;
        color: inherit;
      }
    }
    &#{$c}--red {
      background-color: $white;
      color: $brand;
      border-color: $brand;
    }
    &#{$c}--small {
      font-size: $pico;
    }
    &#{$c}--large {
      font-size: $small;
    }
    &#{$c}--fill {
      background-color: $white;
      color: $brand;
      border-color: $white;

      &:hover {
        background-color: $nhsBlue;
        color: $white;
        border-color: $nhsBlue;
      }
    }
    &#{$c}--fill#{$c}--red {
      background-color: $brand;
      color: $white;
      border-color: $brand;

      &:hover {
        background-color: $nhsBlue;
        color: $white;
        border-color: $nhsBlue;
      }
    }
  }
}
@media (min-width: $viewport-mobile) {

  .o-button {
    $c: &;

    &#{$c}--large {
      font-size: $small;
    }
  }
}
@media (min-width: $viewport-tablet) {
  .o-button {
    $c: &;

    display: inline-block;

    + #{$c} {
      margin-top: 0;
    }

    &#{$c}--large {
      font-size: $medium;
    }
    &#{$c}--device {
      font-size: $base-em;
    }
  }
}
@media (min-width: $viewport-desktop) {}
@media (min-width: $viewport-desktop-lg) {}
