.o-inlineLink {
  $o: &;

  @media all {
    border-bottom: 1px dotted $black;

    &:hover {
      border-style: solid;
    }

    &#{$o}--red {
      color: $brand;
      border-color: $brand;
    }
  }
  @media (min-width: $viewport-mobile) {}
  @media (min-width: $viewport-tablet) {}
  @media (min-width: $viewport-desktop) {}
  @media (min-width: $viewport-desktop-lg) {}
}