// --------------------------------------------------
//  object: title
// --------------------------------------------------
@media all {

  .o-title {
    $o: &;
    
    #{$o}__headline {
      //  font-size: $small;
      line-height: 1.32em;
      margin-bottom: 0.6em;
      white-space: pre-line;
      //letter-spacing: -0.01em;
      // text-transform: uppercase;

      font-size: $large;
      margin-bottom: 1.5rem;

      @include fontDisplay;
      @include antialias;
    }
    #{$o}__byline {
      font-size: $small;
      line-height: 1.32em;
      white-space: pre-line;
      //color: $line-grey;
      //margin-bottom: 1.33em;

      //color: inherit;

      @include fontBase;
      @include antialias;
    }

    &--small {

      #{$o}__headline {
        font-size: $small;
      }
      #{$o}__byline {
        font-size: $base-em;
      }
    }
    &--large {

      #{$o}__headline {
        font-size: $large;
        margin-bottom: 1em;
      }
      #{$o}__byline {
        font-size: $medium;
      }
    }
    &--centered {
      text-align: center;
    }
    &--breadcrumb {
      #{$o}__headline,
      #{$o}__byline {
        //display: inline-block;
        font-size: $base-em;
        text-transform: lowercase;
      }
      #{$o}__headline {
        color: $grey;
        font-size: $small;
        margin: 0;

        &:after {}
      }
    }
  }
}
@media (min-width: $viewport-tablet) {
  .o-title {
    $o: &;

    #{$o}__headline {
      //font-size: $super;
      line-height: 1.16em;
    }
    #{$o}__byline {
    //  font-size: $large;
    }

    &--small {

      #{$o}__headline {
        font-size: $small;
      }
      #{$o}__byline {
        font-size: $base-em;
      }
    }
    &--large {
      #{$o}__headline {
        font-size: $extraLarge;
        margin-bottom: 0.67em;
      }
      #{$o}__byline {
        font-size: $large;
      }
    }
  }
}