.o-asset {
  $o: &;

  @media all {
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    border-radius: ($base-em / 2);
    filter: drop-shadow(2px 6px 6px rgba(0,0,0,0.5));

    #{$o}__source {}
  }
  @media (min-width: $viewport-mobile) {}
  @media (min-width: $viewport-tablet) {}
  @media (min-width: $viewport-desktop) {}
  @media (min-width: $viewport-desktop-lg) {}
}