<section class="o-section c-banner c-banner--narrow c-banner--temp">
  <div class="o-block">
    <div class="o-block__container o-block__container--6">
      <div class="o-title o-title--small c-banner__title">
        <div class="o-inner">
          <h2 class="o-title__headline c-banner__headline">We use cookies 🍪</h2>
          <p class="o-title__byline c-banner__byline">By navigating this website, you agree to our <a class="o-inlineLink c-banner__inlineLink" href="#">cookie policy</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>