<header class="c-pageHeader">
  <div class="o-block">
    <div class="o-block__inner">
      <div class="c-pageHeader__left">
        <div class="o-inner">
          <h1 class="o-brand c-pageHeader__brand"><a href="/">#<%= siteData.primaryHashtag %></a></h1>
        </div>
      </div>
      <div class="c-pageHeader__right u-visuallyHiddenMobile">
        <div class="o-inner">
          <a class="o-button o-button--small o-button--fill" href="https://www.crowdfunder.co.uk/ppefornhsuk" target="_blank" data-event-id="donate" data-label="header">Donate</a>
        </div>
      </div>
    </div>
  </div>
</header>