@import "config/_colours";
@import "config/_fonts";
@import "config/typography";
@import "mixins/_zindex";
@import "mixins/_antialias";
@import "mixins/_media_queries";
@import "mixins/_colwidth";
@import "mixins/_clearfix";
@import "mixins/_disable";
@import "mixins/_percentage";
@import "mixins/_dropShadow";

// --------------------------------------------------
//  Namespacing
// --------------------------------------------------
//  o-: Object
//  c-: Component
//  u-: Utility
//  t-: Theme
//  s-: Scope
//  is-, has-: Stateful
//  _: hack

// --------------------------------------------------
//  Objects
// --------------------------------------------------
@import "objects/_objects";

// --------------------------------------------------
//  Coponents
// --------------------------------------------------
@import "components/_components";

// --------------------------------------------------
//  Utilities
// --------------------------------------------------
@import "utilities/_utilities";

// --------------------------------------------------
//  Layout
// --------------------------------------------------
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// --------------------------------------------------
//  Body font sizes
// --------------------------------------------------
@media all {
  html { font-size: 70%; }
}
@media (min-width: $viewport-mobile) {
  html { font-size: 16px; }
}
@media (min-width: $viewport-tablet) {
//  html { font-size: 70%; }
}
@media (min-width: $viewport-desktop) {
//  html { font-size: 80%; }
}