@import "_base";

@media all {
 
  .o-site {
    $o: &;

    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: $base-em;
    line-height: $base-em * 1.5;

    @include fontBase;

    #{$o}__inner {
      width: 100%;
      box-sizing: border-box;
      display: block;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }

    ul, li {
      list-style: none;
    }

    h1 {
      margin: 0;
    }

    .c-masthead__buttons > a.o-button {
      margin: 0 2px;
    }
  }
}