.u-visuallyHidden {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: $viewport-tablet - 1) {

  .u-visuallyHiddenMobile {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: $viewport-tablet) {

  .u-visuallyHiddenTablet {
    display: none !important;
    visibility: hidden !important;
  }
}
.u-centered {
  text-align: center !important;
}